<app-navbar></app-navbar>

<main *ngIf="lesson">
    <section class="video">
        <video class="fm-video video-js vjs-16-9 vjs-big-play-centered" controls id="rpd-video">
            <source src="{{lesson.videoPath}}" type="video/mp4">
        </video>
    </section>
    <section class="information">
        <div class="title">
            <div class="top">
                <h2>
                    {{lesson.title}}
                </h2>
                <div class="like" (click)="onLike()">
                    <span id="words">Me gusta &nbsp; </span>
                    <mat-icon *ngIf="!like">favorite_border</mat-icon>
                    <mat-icon *ngIf="like" [ngStyle]="{'color':'#f6636f'}">favorite</mat-icon>
                    <span id="number">
                        {{lesson.numLikes}}
                    </span>
                </div>
            </div>
            <div class="tags">
                <a href="" class="curso">
                    Curso: Matemática
                </a>
                <a href="" class="tema">
                    Tema: Polinomios
                </a>
            </div>
            <div class="description">
                <b>Descripción</b>
                <p>
                    {{lesson.description}}
                </p>
            </div>
        </div>
        <div class="profesor">
            <span>Profesor</span>
            <a href="">
                {{lesson.teacher}}
            </a>
        </div>
    </section>

    <section class="comments">

        <div class="inner">
            <h4>Comentarios</h4>
            <div class="my-comment">
                <div class="image">
                    <img src="../../../assets/images/user_photo.gif" alt="_profile">
                </div>
                <div class="text">
                    <form class="example-form" [formGroup]="form" (ngSubmit)="onComment()" >                      
                        <mat-form-field class="example-full-width">
                          <mat-label>Deja tu comentario...</mat-label>
                          <textarea matInput name="comt" formControlName="content"></textarea>
                        </mat-form-field>
                        <button type="submit" [disabled]="!form.valid">
                            Comentar
                            <mat-icon>send</mat-icon>
                        </button>
                      </form>
                </div>
            </div>
            <hr>
            <div class="other-comments">

                <div class="comment" *ngFor="let comment of comments">
                    <div class="image">
                        <img src="../../../assets/images/user_photo.gif" alt="_profile">
                    </div>
                    <div class="text">
                        <b>{{comment.fullName}}</b>
                        <span>{{comment.date | date : 'dd-MM-yyyy h:mm'}}</span>
                        <p>{{comment.content}}</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>

<footer style="height: 150px; background-color: #d3d2d2;"></footer>