<div class="wrapper" style="margin-top: 80px;">
  <div class="container">
      <div class="container-fluid container-cursos">
          <h2>Bienvenido {{name}}, ¿Qué nos vas a enseñar hoy?</h2>
          <div class="container-item-curso" *ngFor="let course of courses">
              <h3 class="title-course">{{course.name}}</h3>
              <div class="container">
              <div class="row">
                  <div class="col-md-4 container-item-topic" *ngFor="let topic of course.topics">
                  <a [routerLink]="['/tema/' + topic.id]" class="topic">
                      <div class="">
                      </div>
                      <h4 class="titulo-tema">{{topic.name}}</h4>
                      <p class="tema-descripcion">{{topic.description}}</p>
                  </a>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
