<app-navbar></app-navbar>
<div class="container">
    <h1>Subir contenido</h1>
    <form [formGroup]="contentUploadForm" (ngSubmit)="onUpload()" enctype="multipart/form-data">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Curso</label>
            <select formControlName="curso" class="form-control" id="exampleFormControlSelect1">
              <option value="1">Matematica</option>
              <option value="2">Fisica</option>
              <option value="3">Quimica</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Tema</label>
            <select formControlName="tema" class="form-control" id="exampleFormControlSelect1">
              <option value="1">Polinomios</option>
              <option value="2">Factorización de Polinomios</option>
              <option value="3">División polinomial</option>
            </select>
        </div>
        <div class="form-group">
          <label for="InputTitulo">Título de la Apprendo Clase</label>
          <input formControlName="titulo" type="text" class="form-control" id="InputTitulo" aria-describedby="tituloHelp" placeholder="Ingresar título">
          <small id="tituloHelp" class="form-text text-muted">Un título corto que resuma tu clase</small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descripción de la Apprendo Clase</label>
            <textarea formControlName="descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3" aria-describedby="descripcionHelp"></textarea>
            <small id="descripcionHelp" class="form-text text-muted">Incluye toda la información que contiene tu apprendo clase. Puedes incluir algún consejo o indicar la importancia de este tema.</small>
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Indicar archivo de video de la Apprendo Clase</label>
            <input formControlName="fileVideo"  type="file" accept="video/*" (change)="onVideoFileSelect($event)" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlFile1">Indicar archivo pdf de la Apprendo Clase</label>
            <input formControlName="filePdf"  type="file" accept="application/pdf" (change)="onPdfFileSelect($event)" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <div class="center"><button type="submit" class="btn btn-primary">Subir Clase</button></div>
      </form>
</div>
