<div class="container">
    <div class="container-fluid">
        <h2>Welcome to Apprendo. Select a course to get started.</h2>
        <div *ngFor="let course of courses">
            <h3 class="title-course">{{course.name}}</h3>
            <div class="container">
            <div class="row">
                <div class="col-md-4" *ngFor="let topic of course.topics">
                <a [routerLink]="['/tema/' + topic.id]" class="topic">
                    <div class="">
                    </div>
                    <h4 class="titulo-tema">{{topic.name}}</h4>
                    <p class="tema-descripcion">{{topic.description}}</p>
                </a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>