<div class="wrapper">
    <header class="site-header">
        <div class="custom-navbar">
            <nav class="navbar navbar-light bg-white">
                <a class="navbar-brand apprendo-nav" href="#">
                    <img src="../../../assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
                    Apprendo
                </a>
                <div class="">
    
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="container-fluid container-cursos">
            <h2>Bienvenido a Apprendo, selecciona el curso de tu preferencia.</h2>
            <div class="container-item-curso" *ngFor="let course of courses">
                <h3 class="title-course">{{course.name}}</h3>
                <div class="container">
                <div class="row">
                    <div class="col-md-4 container-item-topic" *ngFor="let topic of course.topics">
                    <a [routerLink]="['/tema/' + topic.id]" class="topic">
                        <div class="">
                        </div>
                        <h4 class="titulo-tema">{{topic.name}}</h4>
                        <p class="tema-descripcion">{{topic.description}}</p>
                    </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>