<div class="">
<header class="site-header">
    <div class="custom-navbar">
        <nav class="navbar navbar-light bg-white">
            <a class="navbar-brand apprendo-nav" href="#">
                <img src="../../../assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="">
                Apprendo
            </a>
            <div class="">

            </div>
        </nav>
    </div>
</header>
</div>
<section>
<div class="container-fluid container-cursos">
    <div class="container-item-curso" *ngFor="let course of courses">
        <h3>{{course.name}}</h3>
        <div class="container">
        <div class="row">
            <div class="col-md-4" *ngFor="let topic of course.topics">
            <a [routerLink]="['/tema/' + topic.id]">
                <div class="">
                </div>
                <h4 class="titulo-tema">{{topic.name}}</h4>
                <p class="tema-descripcion">{{topic.description}}</p>
            </a>
            </div>
        </div>
        </div>
    </div>
</div>
</section>
<router-outlet></router-outlet>