/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow-x: hidden; }

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: #e6e6e6 !important;
}

.mat-snack-bar-container {
    color: rgba(0,0,0,.7);
    background: white;
}

.mat-simple-snackbar-action {
    color: black;
}

@font-face {
  font-family: Poppins-Regular;
  src: url('assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('assets/fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Soleil-Regular;
  src: url('assets/fonts/Soleil/Soleil-Regular.ttf'); 
}

@font-face {
  font-family: Soleil-Bold;
  src: url('assets/fonts/Soleil/Soleil-Bold.ttf'); 
}