
* {
    font-family: Soleil-Regular;
}


mat-icon {
    display: inline-block;
    font-family: 'Material Icons';
    vertical-align: top;
    color: #5D2B2F;
}

.title {
    margin-left: 10px;
    font-size: 2rem;
}

.navbar-content {
    width: 100%;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0px;
    text-align: center;
    transition: .5s;
    z-index: 1000;
}