.example-card {
    max-width: 400px;
  }
  
.example-header-image {
  background-size: cover;
}

.mat-card {
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid rgba(129, 129, 129, 0.2);
  border-radius: 12px;
  box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.15);
  color: black;
}

img {
  height: 250px;
  object-fit: cover;
}

p {
  font-size: 1.2rem;
}
