<div class="">
<header class="site-header">
    <div class="">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand apprendo-nav" href="#">
        Apprendo
        </a>
        <div class="logo">

        </div>
        <div class="">

        </div>
    </nav>
    </div>
</header>
</div>
<section>
<div class="container-fluid">
    <h3>Matemática</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Polinomios</h4>
            <p class="tema-descripcion">Definición de polinomio, aritmetica polinomial, suma y resta de polinomios, multiplicación de polinomios</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Factorización de polinomios</h4>
            <p class="tema-descripcion">Factorizando monomios, Factores comunes de binomios y trinomios, factorizando polinomios de grado superior</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">División polinomial</h4>
            <p class="tema-descripcion">Métodos para dividir polinomios, Teorema del resto, dividiendo polinomios por factores lineales</p>
        </a>
        </div>
    </div>
    </div>
    <h3>Física</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Cinemática</h4>
            <p class="tema-descripcion">Movimiento rectilineo, vectores movimiento curvilineo</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Leyes de Newton</h4>
            <p class="tema-descripcion">Primera, Segunda y tercera ley de Newton</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Leyes de Conservación</h4>
            <p class="tema-descripcion">Conservación de la energia, trabajo, potencia. Conservación de la cantidad de movimiento</p>
        </a>
        </div>
    </div>
    </div>
    <h3>Química</h3>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Tema1</h4>
            <p class="tema-descripcion">Descripción del tema 1</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#" class="">
            <div class="">
            </div>
            <h4 class="titulo-tema">Tema2</h4>
            <p class="tema-descripcion">Descripción del tema 2</p>
        </a>
        </div>
        <div class="col-md-4">
        <a href="#">
            <div class="">
            </div>
            <h4 class="titulo-tema">Tema3</h4>
            <p class="tema-descripcion">Descripción del tema 3</p>
        </a>
        </div>
    </div>
    </div>
</div>
</section>