<app-navbar></app-navbar>

<div class="container center">
  <section class="top">
    <div class="info">
        <h1>Los mejores recursos para tu aprendizaje escolar</h1>
        <p>Apprendo es una plataforma de aprendizaje dirigido principalmente a alumnos de 3ro, 4to y 5to de Secundaria. <br> A diferencia de otros programas académicos, Apprendo te brinda contenido confiable creado por docentes que comparten su conocimiento con la comunidad.</p>
        <div class="enlaces">
            <a href="/signup">
              Únete ahora
            </a>
            <a href="/login">
              Ingresar
          </a>
        </div>
    </div>
    <div class="image">
        <img src="../../../assets/images/book_lover.svg" alt="">
    </div>
  </section>
</div>