
.top {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    height: 90vh;
    overflow: hidden;
    align-items: center;
}

.info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
    z-index: 1;
}

.info h1 {
    text-align: center;
    color: #1d16a3;
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
    margin-bottom: 15px;
}

.info p {
    font-size: 18px;
    margin-bottom: 20px;
}

.info a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #FE8101/*#17B978*/;
    border-radius: 10px;
    border: none;
    transition: box-shadow ease .3s;
}

.info a:hover {
    box-shadow: 1px 3px 6px rgba(139, 139, 139, 0.6);
}

.image {
    width: 100%;
}

.image img {
    width: 100%;
    opacity: .2;
}

@media (min-width: 768px) {
    .top {
        max-width: 90vw;
        height: 90vh;
        overflow: hidden;
        align-items: center;
    }
    .info {
        position: initial;
        left: 0;
        transform: none;
        width: 40%;
    }
    .info h1 {
        color: #263B5E;
    }
    .info p {
        color: #8F98AF;
    }
    .image {
        width: 60%;
    }
    .image img {
        opacity: 1;
    }
}