<app-navbar></app-navbar>

<div class="container center">
  <section class="top">
    <div class="info">
        <h1>Los mejores recursos para tu aprendizaje escolar</h1>
        <p>Apprendo es una plataforma de aprendizaje en línea. Está dirigido a alumnos de 3ro, 4to y 5to de Secundaria.  A diferencia de los programas diferentes programas académicos, Apprendo utiliza contenido de docentes que crean su propio contenido en línea.</p>
        <div class="enlaces">
            <a href="/signup">
              Únete ahora
            </a>
            <a href="/login">
              Ingresar
          </a>
        </div>
    </div>
    <div class="image">
        <img src="../../../assets/images/book_lover.svg" alt="">
    </div>
  </section>
</div>