
.top {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    max-width: 1100px;
    height: 90vh;
    overflow: hidden;
    align-items: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 40%;
    padding: 15px;
}

.info h1 {
    text-align: center;
    color: #263B5E;
    font-size: 30px;
    padding: 0 20px;
    margin-bottom: 15px;
}

.info p {
    font-size: 18px;
    color: #8F98AF;
    margin-bottom: 20px;
}

.info a {
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #FE8101/*#17B978*/;
    border-radius: 10px;
    border: none;
    transition: box-shadow ease .3s;
    /*overflow:hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);*/
}

.info a:hover {
    box-shadow: 1px 3px 6px rgba(139, 139, 139, 0.6);
}

/*.info a:hover {
    background-position: 0 -100%;
    color:#2590EB;
}*/

.image {
    width: 60%;
}

.image img {
    width: 100%;
}