.bloque-tema {
  background-color: white;
}

section {
  background-color: aqua;
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
}

.shadow-sm {
  overflow: hidden;
  max-width: 360px;
}

.card-img-top {
  position: relative;
  width: 100%;
  height: 225px;
  background-color: #55595C;
}

.card-img-top p {
  padding: 19px;
  font-size: 17px;
  font-weight: bold;
  color: #fafafa;
}

/* .card-img-top img {
  position: absolute;
  padding: 5px;
  height: 150px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: .8;
} */

.card-body {
  height: 170px;
}

.divLike {
  display: flex;
  color: rgba(59, 59, 59, 0.6);
  margin-left: 5px;
  transform: translateY(-2.5px);
}

.like {
  display: inline-block;
  transform: translateY(2px);
  margin-left: 3px;
}

.btn-like {
  display: flex;
  align-items: flex-end;
}

.appclase-foot {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
  height: 50px;
  padding: 0 19px 19px;
  background-color: white;
  box-shadow: 0px -5px 5px 10px white;
  align-items: flex-end;
  z-index: 0;
}
