<app-navbar></app-navbar>
<main>
  <section class="jumbotron text-center bloque-tema">
    <a class="container">
      <!-- Nombre del tema -->
      <h1>{{topic.name}}</h1>
      <p class="lead text-muted">
        {{topic.description}}
      </p>
    </a>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4" *ngFor="let lesson of topic.lessons">
          <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x=5% y="10%" fill="#eceeef" dy=".3em">{{lesson.title}}</text></svg>
            <div class="card-body">
              <p class="card-text">{{lesson.description}}</p>
              <div class="d-flex justify-content-between appclase-foot">
                <div class="btn-like">
                  <div class="btn-group">
                    <a [routerLink]="['/video/' + lesson.id]">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Ir a clase</button>
                    </a>
                  </div>
                  <div class="divLike">
                    <mat-icon>favorite_border</mat-icon>
                    <span class="like">{{lesson.model.numLikes}}</span>
                  </div>
                </div>
                <div>
                  <small class="text-muted">{{lesson.appLesson.applicationDate | date : 'dd-MM-yyyy'}}</small>
                </div>
                <!-- <small class="text-muted">{{lesson.appLesson.applicationDate | date : 'dd-MM-yyyy'}}</small> -->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
